<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{stock/header :: header}"></head>
<body>
	<div class="container">
		<h2>
			<span
				th:text="${title}"> 投资明细更新(新增)</span>
		</h2>   
		
		<form action="#" th:action="@{/stock/portfolio/update}" th:object="${pi}" method="post">
		
		<input th:type="hidden" name="id" th:field="*{id}" />
		<div class="form-group">
	        <label for="symbol">标的代码</label>
	        <input type="text" class="form-control" id="symbol" th:field="*{symbol}" th:readonly="${sybmolReadonly}"/>
        	<small th:if="*{symbol!=null}" id="symbolHelp" class="form-text text-muted" th:text="${stockItemName}"></small>
        	<span class="text-danger" th:if="${#fields.hasErrors('symbol')}" th:errors="*{symbol}"></span>
        </div>
		<div class="form-group">
	        <label for="warrantSymbol">权证代码</label>
	        <input type="text" class="form-control" id="warrantSymbol" th:field="*{warrantSymbol}"/>
        </div>
        <div class="form-group">
	        <label for="buyDate">买进日期</label>
	        <input type="date" class="form-control" id="buyDate" th:field="*{buyDate}"/>
	        <span class="text-danger" th:if="${#fields.hasErrors('buyDate')}" th:errors="*{buyDate}"></span>
        </div>
        <div class="form-group">
	        <label for="sellDate">卖出日期</label>
	        <input type="date" class="form-control" id="sellDate" th:field="*{sellDate}"/>
	        <span class="text-danger" th:if="${#fields.hasErrors('sellDate')}" th:errors="*{sellDate}"></span>
        </div>
		<div class="form-group">
	        <label for="buyPrice">买进价格</label>
	        <input type="text" class="form-control" id="buyPrice" th:field="*{buyPrice}"/>
	        <span class="text-danger" th:if="${#fields.hasErrors('buyPrice')}" th:errors="*{buyPrice}"></span>
        </div>
		<div class="form-group">
	        <label for="sellPrice">卖出价格</label>
	        <input type="text" class="form-control" id="sellPrice" th:field="*{sellPrice}"/>
	        <span class="text-danger" th:if="${#fields.hasErrors('sellPrice')}" th:errors="*{sellPrice}"></span>
        
        </div>
        <div class="form-group">
	        <label for="buyQuantity">买进数量</label>
	        <input type="text" class="form-control" id="buyQuantity" th:field="*{buyQuantity}"/>
	        <span class="text-danger" th:if="${#fields.hasErrors('buyQuantity')}" th:errors="*{buyQuantity}"></span>
        </div>
        <div class="form-group">
	        <label for="sellQuantity">卖出数量</label>
	        <input type="text" class="form-control" id="sellQuantity" th:field="*{sellQuantity}"/>
	        <span class="text-danger" th:if="${#fields.hasErrors('sellQuantity')}" th:errors="*{sellQuantity}"></span>
        </div>
		<div class="form-check">
		    <input class="form-check-input" type="checkbox"  id="isShort" th:field="*{isShort}"/>
		    <label class="form-check-label" for="isShort">融券</label>
		</div>
            <input type="submit" class="btn btn-primary" th:value="送出"/>
            <a href="#" th:href="@{/stock/portfolio}" class="btn btn-danger" role="button">取消</a>
		</form>		 
	</div>
</body>
</html>	
			
			 
		